
body {background-image:url("https://png.pngtree.com/background/20210709/original/pngtree-summer-solstice-pink-bouquet-chinese-style-poster-background-picture-image_941456.jpg");
}

.titulo1 { background-color: #F7819F; color:#fff0f5 ; font-size: 300%;text-align:center; text-decoration:underline;
}

.subtitulo1 { background-color: #F7819F; color:#fff0f5 ; font-size: 200%;

}

.img1{ width: 60%; height: auto; text-align: center;

}
.p1 { font-size: 150%; text-align: center;}

.p2 { font-size: 150%;}

.ul1{ font-size: 150%;

}

.ol1 {font-size: 150%;}
